.banner {
  background: url('/img/pc-candidate.png') no-repeat center/cover;
  width: 100%;
  height: 700px;
  position: relative;
  border-radius: 15px;
  margin-top: 0;
  max-width: 1400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btns {
  width: 60%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.btn1 {
  padding: 14px 40px;
  background-color: hsl(234, 89%, 62%);
  color: #fff;
  border-radius: 22px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.btn1:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .banner {
    height: 500px;
    width: 95%;
  }
  
  .btns {
    width: 80%;
  }

  .btn1 {
    padding: 12px 30px;
    font-size: 16px;
  }
}

