.starPlan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  margin: 50px 0;
  border-radius: 15px;
  overflow: hidden;
  max-width: 1200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.imageContainer img {
  border-radius: 15px;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  text-align: center;
  z-index: 1;
}

.t {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  color: #1d1d1d;
  margin-bottom: 20px;
}

.p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #737373;
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .t {
    font-size: 32px;
  }
  
  .p {
    font-size: 16px;
  }
  
  .starPlan {
    min-height: 400px;
  }
}

