.why {
  margin-bottom: 15px;
  padding: 50px 0;
}

.cont {
  background: url('/img/pc-WhyChoose.png') no-repeat center/cover;
  min-height: 500px;
  background-size: cover;
  border-radius: 15px;
  min-width: 1160px;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .why {
    min-width: auto;
  }
  
  .cont {
    min-width: auto;
    width: 95%;
  }
}

