.main {
  min-width: 1200px;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 56px;
  background: radial-gradient(circle at top left, #f3f4ff 0, #ffffff 40%, #f7f8ff 100%);
}

@media (max-width: 1200px) {
  .main {
    min-width: auto;
  }
}


